body, h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima Nova";
}

.votes {
  text-align: center;
}

.upvote {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 10px 7px;
  border-color: transparent transparent #999 transparent;
  text-indent: -999px;
}


