---
title: Welcome to Middleman
---
<div class="container">
  <header class="bg-olive white">
<!--     <div class="py2 black bg-cover bg-center">
      <p class="border-bottom caps py1">Toronto</p>
      <h1 class="h1 h0-responsive mt0 caps regular">Software Development AV Club</h1>
    </div> -->
    <nav class="clearfix ">
      <div class="sm-col">
        <!-- <h2 class="m0 p1">AV Club</h2> -->
        <h1 class="mt1 mb0 ml1">Toronto Software Dev AV Club</h1>
      </div>
      <div class="sm-col-right m1">
        <a href="/" class="button p1 button-outline">Unwatched</a>
        <a href="/" class="button p1 button-outline">Watched</a>
      </div>
    </nav>
  </header>

  <ul class="list-reset mt1">

    <li class="clearfix">
      <div class="votes left p2 mr1">
        <a class="upvote mt1 inline-block" href="">Upvote</a>
      </div>
      <div class="overflow-hidden">
        <h3><span class="navy">Turning the database inside out with Apache Samza</span> <span class="regular h4 gray">(Strangeloop 2014)</span></h3>
        <p><span class="gray">22 points | </span><strong>Martin Kleppmann</strong> | submitted by James M.</p>
      </div>
    </li>

    <li class="clearfix">
      <div class="votes left p2 mr1">
        <a class="upvote mt1 inline-block" href="">Upvote</a>
      </div>
      <div class="overflow-hidden">
        <h3><span class="navy">The ServiceWorker is coming, look busy</span> <span class="regular h4 gray">(JSConf EU 2014)</span></h3>
        <p><span class="gray">10 points | </span><strong>Jake Archibald,</strong> | submitted by James M.</p>
      </div>
    </li>

    <li class="clearfix">
      <div class="votes left p2 mr1">
        <a class="upvote mt1 inline-block" href="">Upvote</a>
      </div>
      <div class="overflow-hidden">
        <h3><span class="navy">What's the Harm In Sorting: Sanitizing Inputs For More Optimized JS</span> <span class="regular h4 gray">(JSConf 2014)</span></h3>
        <p><span class="gray">10 points | </span><strong>Jenn Schiffer</strong> | submitted by James M.</p>
      </div>
    </li>

    <li class="clearfix">
      <div class="votes left p2 mr1">
        <a class="upvote mt1 inline-block" href="">Upvote</a>
      </div>
      <div class="overflow-hidden">
        <h3><span class="navy">Turning the database inside out with Apache Samza</span> <span class="regular h4 gray">(Strangeloop 2014)</span></h3>
        <p><span class="gray">22 points | </span><strong>Martin Kleppmann</strong> | submitted by James M.</p>
      </div>
    </li>

    <li class="clearfix">
      <div class="votes left p2 mr1">
        <a class="upvote mt1 inline-block" href="">Upvote</a>
      </div>
      <div class="overflow-hidden">
        <h3><span class="navy">The ServiceWorker is coming, look busy</span> <span class="regular h4 gray">(JSConf EU 2014)</span></h3>
        <p><span class="gray">10 points | </span><strong>Jake Archibald,</strong> | submitted by James M.</p>
      </div>
    </li>

    <li class="clearfix">
      <div class="votes left p2 mr1">
        <a class="upvote mt1 inline-block" href="">Upvote</a>
      </div>
      <div class="overflow-hidden">
        <h3><span class="navy">What's the Harm In Sorting: Sanitizing Inputs For More Optimized JS</span> <span class="regular h4 gray">(JSConf 2014)</span></h3>
        <p><span class="gray">10 points | </span><strong>Jenn Schiffer</strong> | submitted by James M.</p>
      </div>
    </li>

  </ul>
</div>
